.categoria-container {
    max-width: 70%;
    margin: 50px auto;
    background-color: #e0ebc2;
    border: 10px solid #f0f0f0; /* Borde gris */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 2px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}



.categoria-input {
    flex-grow: 1;
    margin-right: 10px;
}

.categoria-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoria-accordion {
    margin-top: 20px;
    border: 3px;
    border-radius: 2px;
}

.categoria-validation {
    color: red;
    line-height: 1;
    padding: 1px;
    user-select: none;
    text-align: center;
}

.no-arrow .accordion-button::after {
    display: none;
  }
  .categoria-accordion .accordion-button {
    background-color: #f8f9fa;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.categoria-accordion .accordion-button:hover {
    background-color: #e0ecbe            ; /* Cambia el color de fondo al hacer hover */
    color: #000; /* Cambia el color del texto al hacer hover */
}

.categoria-accordion .accordion-button.collapsed {
    background-color: #ffffff;
    color: #000;
}

.categoria-accordion .accordion-button.collapsed:hover {
    background-color: #e0ecbe            ; /* Cambia el color de fondo al hacer hover */
    color: #000; /* Cambia el color del texto al hacer hover */
}

.input-categoria .accordion-button {
    background-color: #f8f9fa;
    color: #000;
}

.input-categoria .accordion-button:hover {
    background-color: #e0ecbe; /* Cambia el color de fondo al hacer hover */
    color: #000; /* Cambia el color del texto al hacer hover */
}

.custom-button {
    background-color: #e05151;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #a0b750;
    color: #fff;
}