.perfil-imagen-container {
    width: 160px;
}

.text-center {
    text-align: center;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
.perfil-imagen.grande {
    margin-left: 16px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(0, 0, 0, 0);
    transition: all .25s;
}
.perfil-imagen:hover {
    border: 3px solid rgb(104, 152, 255, 50);
}